:root{
    --c-primario: #c5d3ff;
    --c-secundario: #8093ff;
    --c-terciario: #465aa0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;;
}

*,*::before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid #ACA9B0;
}
.contenedor{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4rem;
}


/* header  */
.encabezado{
    position: relative;
    margin-bottom: 3rem;
}
.contenido-navegacion{
    
    z-index: 1;
    position: absolute;
    width: 100%;
    /* background-color: rgba(114,212,235, 0.782); */
    /* background-color: #72EB89; */
    opacity: .9;
}
.navegacion {
    /* padding: 2rem 0; */
    display: flex;
    justify-content: space-between;
}
.nombre-pag{
    padding: 2rem;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
.navegacion-url {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-transform: uppercase;
}
.navegacion-url a {
    padding: 2rem ;
    color: #595260;
    /* padding-left: 2rem; */
    text-align: center;
    font-weight: 700;
}
.navegacion-url a:hover{
    font-weight: 400;
    text-decoration: #595260;
}
.video1{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; 
}
video {
    width: 100%;
    display: block;
    background-size: cover;
    /* max-height: 80rem; */
}
@media (min-width:1600){
    video {
        max-height: 100%;
    }
}
.degradado{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.degradado p{
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
}
.degradado p::after{
    display: block;
    width: 300px;
    height: 10px;
    content: "";
    margin: auto;
    background: #fff;
}
/* paginas */
@media (min-width:760px){
    .list-paginas {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
}
.list-paginas img{
    width: 100%;
    border-radius: .5rem;
}
.list-paginas .button {
    background-color: #2B5799;
    text-transform: uppercase;
    border-radius: .5rem;
    text-align: center;
}
.list-paginas a{
    color: white;
}
.list-paginas .button:hover{
    color: white;
    font-size: 1.8rem;
    background-color: #6E9DE6;
    cursor: pointer;
    margin-top: -.2rem;
}
.cont-pagina{
    margin-bottom: 2rem;
}
/* sobre mi  */
.sobre-mi span{
    font-weight: bold;
    text-transform: uppercase;
}
/* parte musica */
.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
@media(min-width:1050px){
    .all-cont-musica{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }   
}
.cont-pelicula-all{
    background-image: url('../img/img_wilberth/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    position: relative;
    /* background-color: black; */

}
.degradado-pe{
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    opacity: .4;
}
.contenedor-pelicula{
    position: relative;
}
.all-cont-musica {
    margin-top: 1rem;
}
.img-cont-musica img{
    width: 100%;
}
.cont-musica{
    margin-bottom: 2rem;    
}
.det-musica{
    padding: 1rem 0;
}
.det-musica span{
    font-weight: bold;
    text-transform: uppercase;
}
.det-musica audio {
    margin-top: 3rem;
}
@media(min-width:1050px){
    .all-cont-peliculas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}
.cont-pelicula{
    margin-bottom: 2rem;
}

/* footer  */
.pie-pagina {
    background-color: #6E6874;
    padding: 2rem 0;
    text-align: center;
    color: white;
}