html{
    font-family: 'Urbanist', sans-serif;
}

/* general */
.contenedor{
    max-width: 50rem;
    margin: 0 auto;
}
.no-margin{
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
}

/*VIDEO*/
.header{
    height: 100%;
    position: relative;
   
}
video{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;   
}
.agrupar{
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    justify-content: space-around;
}
.video-contenedor{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 21rem; */
}
.title{
    color: white;   
}
.sobreMi a{
    margin: 0.8rem;
    color: white;
    font-style: inherit;
    text-decoration: none;
}
.DatoCentral{  
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
/* Contenido princiapal*/
.contenidoPrincipal h1{
    color: black;
    text-align: center;
}

/*SOBRE MI*/
.me{
    height: 17rem;
    align-content: center;
    background-image: url(../img/img_wilson/sobreMi3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}
.me h1{   
    color: white;
    padding-top: 5.5rem;
    font-size: 5rem;
}
.lugar{
    min-width: 30rem;
    display: grid;
    grid-template-columns: 50% repeat(1, 2fr);
    column-gap: 3rem;
    margin-bottom: 4rem;
}
.datos{
    margin-top: 2rem;
}
.datos h2{
    margin-bottom: 3.5rem;
    text-align: center;
}
.datos p{
    line-height: 1.5rem;
}
.datos span{
    font-weight: 900;
}
/*FOOTER*/

.abajo{
    display: inline-flexbox;
    height: 8rem;
    background-color: black;
    padding-top: 3.5rem;
}
.abajo p{
    color: white;
    text-align: center;
}