body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 14px;
    left: 8%;
    color: blanchedalmond; 
}
.contenedor1{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor1 img{
    max-width: 100%;
}
.menu{
    position: absolute;
    top: 30px;
    color: blanchedalmond; 
    padding: 5px 15px;
    background: black;
    width: 98%;
    text-align: right;
}
.menu li{
    list-style: none;
    font: bold 14px verdana;
    display: inline block;
    display: inline-block;
    color: blanchedalmond;
}
.menu li A{
    color: blanchedalmond;
    text-decoration: none;
    padding: 1px 15px;
}
.menu li A:hover{
    text-decoration: underline;
}
.centrado{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blanchedalmond; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
.sobremi {
    width: 80%;
    margin-left: 10%;
    max-width: 100%;
}
.sobremi h3{
    color:blueviolet;
    font-family: fantasy;
    font-size: 40px;
}
.musica {
    width: 80%;
    height: 600px;
    margin-left: 10%;
    max-width: 100%;
}
.musica h3{
    color:rgba(84, 235, 38, 0.795);
    font-family: fantasy;
    font-size: 40px;
}
.musica img{
    position: relative;
    left: 50%;
    max-width: 50%;
    top: -80%;
}
.listamusical{
    position: relative;
    width: 50%;
}
.listamusical li A{
    text-decoration: none;
    color: black;
}
.listamusical li A:hover{
    text-decoration: underline;
}
.listamusical li p{
    color: rgb(62, 63, 65);
    font-size: 12px;
    font-style: oblique;
}
.frases {
    width: 80%;
    height: 40em;
    margin-left: 10%;
    max-width: 100%;
}
.frases h3{
    color:royalblue;
    font-family: fantasy;
    font-size: 40px;
}
.frases img{
    max-width: 35%;
}
.lasfrases{
    position: relative;
    left: 40%;
    width: 60%;
    max-width: 75%;
    top: -80%;
}
.contenedorFinal {
    display: block;
    width: 1350;
    padding: 30px;
    margin-top: auto;
    text-align: center;
    background: black;
    color: darkgray;
}
hr{
    margin-top: -30px;
}