body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
/* html{
} */
  
  h1 {
    font-size: 60px;
    margin: 0;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-family: 'Permanent Marker';
  }
  
  header {
    background-color: #101010;
    padding: 0.2rem 0rem;
    /* height: 18vh; */
    background-size: cover;
  }
  
  .contenedor {
    max-width: 1280px;
    padding-top: 0.5rem;
    color: white;
    font-family: 'Permanent Marker';
  }
  
  h3 {
    text-align: center;
    font-family: 'Codystar', cursive;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .contenedor-adicional {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);

    align-items: center;
    /* display: flex; */
    flex-wrap: wrap;
  }

  .persona {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    /* width: 16.66666666%; */
    min-height: 25rem;
    align-items: center;
    /* padding: 9.2rem 0rem;   */
    text-align: center;
    position: relative;
  }
  .persona:hover{
    /* width: 20.8%; */

    border: .3rem solid black;
    margin: -2rem;
    z-index: 1;
    margin: 1 red 2.3rem  1.2%;
  }
  
  .persona a{
    text-decoration: none;
    z-index: 0;
  }
  
  .Will a{
    color: white;
  }
  .Will {
    position: relative;
    background-image: url(../img/img_chereje/amanecer.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .Wilson a{
    color: white;
  }
  .Wilson {
    background-image: url(../img/img_wilson/me2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .Ayde a{
    color: black;
  }
  .Ayde {
    background-image: url(../img/img_chereje/amanecer.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .Chereje a{
    color: white;
  }
  .Chereje{
    background-image: url(../img/img_chereje/charaja.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .Papu a{
    color: black;
  }
  .Papu {
    background-image: url(../img/img_chereje/amanecer.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .Alexander a{
    color: black;
  }
  .Alexander{
    background-image: url(../img/img_chereje/amanecer.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .persona h2:hover{
    font-size:  2.9rem;
    background-size: 120%;
  }
  
  footer{
    width: 100%;
    background: #202020;
    color: white;   
  }
  
  .container-footer{
    width: 100%;  
    background: #101010;
  }
  
  .footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
  }
  
  .copyright{
    color: white;
  }
  
  .copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Arial Narrow Bold', cursive;
  }
  /*OVERLAY */
  
  .overlay{
    /* width: 100%; */
    z-index: 2;
    /* top: 1; */
    height: 100%;
    position: absolute;
    background-color: burlywood;
    overflow: hidden;
    transition: .5s ease;
  }
  /*Modo Responsive*/
@media screen and (max-width:600px) {
    .contenedor-adicional{
      display: grid;
      /* flex-direction: column; */
      grid-template-columns: 100%;

    }
    .persona{
      min-height: 1.5rem;
      /* padding-top: 5rem; */
    }
    .persona h2, h3{
      /* margin-bottom: 4rem; */
    }
    .Chereje{
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .Ayde{
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .Will{
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .Wilson{
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .Papu{
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .persona:hover{
        color: blue;
    }
    .persona h2:hover{
      color: blueviolet;
    }
    .persona:hover{
      /* width: 20.8%; */
      margin: -1rem;
      /* z-index: 1; */
    }

}