html{
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
}

/* general */
.contenedor{
    max-width: 50rem;
    margin: 0 auto;
}
.no-margin{
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
}
/*VIDEO*/
.pantallaNegra{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    position: absolute;
    z-index: 1;
}
.header{
    position: relative;
}
video{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;   
    z-index: 2;
}
.agrupar{
    z-index: 2;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.cabezera{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title img{
    margin-top: 2.2rem;
    margin-left: 2rem;
    width: 20rem;
}
.sobreMi{
    width: 40%;
    font-size: 2em;
    padding-right: 2rem;
}
.sobreMi a{
    font-size: 1.2rem;
    margin: 0.8rem;
    color: white;
    font-style: inherit;
    text-decoration: none;
}
.sobreMi a:hover{
    color: #5BA9E7;    
    font-weight: 700;
}
.sobreMi .fas{
    font-size: 2rem;
}
.sobreMi .fas:hover{
    color: cadetblue;
    font-size: 2.1rem;
}
.DatoCentral h1{
    font-size: 3.5rem;
}
.DatoCentral{  
    margin-top: 19%;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
.contenidoPrincipal{
    z-index: 4;
}
/* Contenido princiapal*/
.contenidoPrincipal h1{
    color: black;
    text-align: center;
}

/*SOBRE MI*/
.me{
    height: 17rem;
    align-content: center;
    background-image: url(../img/img_wilson/sobreMi3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}
.me h1{   
    color: white;
    padding-top: 5.5rem;
    font-size: 5rem;
}
.lugar{
    min-width: 30rem;
    display: grid;
    grid-template-columns: 50% repeat(1, 2fr);
    column-gap: 3rem;
    margin-bottom: 4rem;
    align-items: center;
}
.datos h2{
    margin-bottom: 3.5rem;
    text-align: center;
}
.datos p{
    line-height: 1.5rem;
}
.datos span{
    font-weight: 900;
}
/*FOOTER*/

.abajo{
    
    display: inline-flexbox;
    height: 25rem;
    background-color: #4D5252 ;
    padding-top: 2rem;
}
.img-footer{
    padding: 0 8rem 0 0; 
}
.abajo p{
    color: white;
    text-align: center;
}
.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    column-gap: 8rem;
}
.footer img{
}
/* .iconos img{
    margin-left: 2.5rem;
    margin-top: 2rem; 
    align-items: center;
    width: 4rem;
    height: 4rem;
}*/
.iconos a{
    color: black;
    text-decoration: none;
    font-size: 3rem;
    margin-left: 2rem;
}
.iconos a:hover{
    color: white;
    font-size: 3.1rem;
    
}
.rs h1{
    color: white;
    font-size: 2.8rem;
    font-weight: 500;
}
.rs{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.5rem;
}
/*Musica*/
.musica{
    background-image: url(../img/img_wilson/portadaMusica.jpg);
    min-height: 15rem;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 4rem;
}
.musica h1{
    text-align: center;
    color: white;
    padding-top: 5.5rem;
    font-size: 5rem;
}
.misgustos {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 4rem;

}
.contenedor1{
    max-width: 75rem;
    margin: 0 auto;
}
.album{
    display: grid;
    grid-template-columns: 50% repeat(1, 2fr);
    column-gap: 1.5rem;
    margin-bottom: 2.8rem;
}
.datosAlbum{
    display: grid;
    grid-template-columns: 50% repeat(1, 2fr);
    column-gap: 1.2rem;
}
.datos p{
    line-height: 1.5rem;
    align-content: center;
}

/*overlay musica*/
.m4a audio{
    width: 100%;
    padding-top: 5rem;
}
.texto {
    color: white;
    padding: .4rem;
}
.container{
    position: relative;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #35223C;
    width: 100%;
    height: 0;
    transition: .5s ease;
    overflow: hidden;
}
.overlay audio{
    
}
.container:hover .overlay{
    height: 100%;
}
@media screen and (max-width: 1000px) {
    html{
        font-size: 12px;
    }
}
@media screen and (max-width: 745px) {
    html{
        font-size: 10px;
    }
}
@media screen and (max-width: 620px) {
    html{
        font-size: 8px;
    }
}
.boton{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 0.8rem;
    color: white;
    background-color: green;
    border-color: green;
    border-radius: .3rem;
    cursor: pointer;
}
.boton:hover{
    background-color: #4CAF50;
    color: white;

}
/*redes Sociales*/
.redesSociales{
    z-index: 3;
    position: fixed;
    top: 25rem;
}
.redesSociales a{
    color: black;
    display: block;
    font-size: 2.8rem;
    text-decoration: none;
    /* margin: 2rem; */
    /* position: fixed; */
}
.redesSociales .fa-twitter{
    padding:.5rem 1.5rem .5rem 1.5rem;
    background-color:  #1AD6D6;
}
.redesSociales .fab:hover{
    color: white;
    /* padding:.5rem 2rem .5rem 2rem */

}
.redesSociales .fa-whatsapp{
    padding:.5rem 1.5rem .5rem 1.5rem;
    background-color:  #4ADE4E ;
}
.redesSociales .fa-instagram{
    padding:.5rem 1.5rem .5rem 1.5rem;
    background-color:  #fF5733  ;
}
.redesSociales .fa-facebook{
    padding:.5rem 1.5rem .5rem 1.5rem;
    background-color:  #349CDF; 
}
/*CASA*/
.casa{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    position: fixed;
    top: 25rem;
    right: 0;
    left: 1;
    z-index: 4;
}
.dato{
    text-align: center;
    z-index: 4;
    background-color: gainsboro;
    font-size: 4rem;
    color: black;
    width: 6rem;
    /* padding-left: 4rem; */
    padding: 1.2rem;
    border-radius: 5rem;
}
.dato a{
    text-decoration: none;
    color: black;
}
.dato a:hover{
    font-size: 4.5rem;
    color: blueviolet;
}