body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
  }
  
  p {
    font-size: 1.25rem;
  }

  li {
    list-style: none;
    margin-right: 1.6rem;
  }
  .lista a{
      text-decoration: none;
      color: black;
  }
  .lista a:hover{
    font-size: 1.2rem;
    color: blue;
  }
  #primero {
    font-size: 1.9rem;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkslategray;
  }
  
  .lista {
    display: flex;
  }
  
  .titular {
    text-align: center;
    margin-top: 12.5rem;
    color: white;
  }
  
  h1 {
    font-size: 3.75rem;
    margin: 0;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  .titular a {
    font-size: 0.87rem;
    background: #5cb8ff;
    padding: 1.25rem 1.8rem 1.25rem 1.8rem;
    color: white;
  }
  
  header {
    background: url(../img/img_chereje/machup.jpg);
    height: 100vh;
    background-size: cover;
  }
  
  .contenedor {
    max-width: 80rem;
    width: 90%;
    margin: auto;
  }
  
  /* ARRANCA SECCION SOBRE MI */
  
  h3 {
    text-align: center;
    font-size: 3.43rem;
    font-weight: normal;
  }
  
  .contenedor-sobremi {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .contenedor-parrafo-y-boton {
    width: 42%;
  }
  
  .contenedor-parrafo-y-boton p {
    font-size: 1.12rem;
  }
  
  .parrafo-final {
    margin-bottom: 1.87rem;
  }
  
  .contenedor-adicional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .servicio {
    width: 25%;
    padding: 3.12rem 2.37rem 3.12rem 2.37rem;
    border-radius: 0.62rem;
    margin-bottom: 2.5rem;
    color: #fff;
  }
  
  .violeta {
    background: #5055df;
  }
  
  .celeste {
    background: #40a8fa;
  }
  
  .servicio h4 {
    font-size: 1.87rem;
    margin: 0;
  }
  
  .servicio img {
    float: right;
  }
  
  .servicio p {
    font-size: 1.12rem;
  }
  
  footer{
    width: 100%;
    background: #202020;
    color: white;   
    
  }
  
  .contenedor-footer{
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
  }
  
  .contenedor-cuerpo{
    display: flex;
    justify-content: space-between;
  }
  
  .columna1{
    max-width: 400px;
  }
  
  .columna1 h1{
    font-size: 22px;
  }
  
  .columna1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
  }
  
  .columna2{
    max-width: 25rem;
    
  }
  
  .columna2 h1{
    font-size: 1.37rem;
  }
  
  .Row{
    margin-top: 1.25rem;
    display: flex;
  }
  
  .Row img{
    width: 36px;
    height: 36px;
    margin-right: 1.2rem;
  }
  
  .Row label{
    margin-top: 0.62rem;
    margin-left: 1.25rem;
    color: #C7C7C7;
  }
  
  .columna3{
    max-width: 25rem;
  }
  
  .columna3 h1{
    font-size: 1.37rem;
  }
  
  .row2{
    margin-top: 1.25rem;
    display: flex;
  }
  
  .row2 img{
    width: 2.25rem;
    height: 2.25rem;
  }
  
  .row2 label{
    margin-top: 0.62rem;
    margin-left: 1.25rem;
    max-width: 8.75rem;
  }
  
  .container-footer{
    width: 100%;  
    background: #101010;
  }
  
  .footer{
    max-width: 75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 1.25rem;
  }
  
  .copyright{
    color: white;
  }
  
  .copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }